@import "reset";
@import "header";
@import "home";
@import "home_main";
@import "home_slider";
@import "footer";
@import "offer_main";
@import "home_aboutus";
@import "home_icons";
@import "home_offer";
@import "home_contact";
@import "conctact_form";
@import "contact_main";
@import "projects_main";
@import "title";
@import "projects_buttons";
@import "projects_imgs";


body{
  font-family: "Open Sans", sans-serif;

}
.container{
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.Link{
  text-decoration: none;
  color: #4e4e50;
  z-index: 1;
}
.hoveredWhite:hover{
  color: #ffffff;
  cursor: pointer;

}
.hoveredBlue:hover{
  cursor: pointer;
  color:#3b5998 ;
}
.hoveredGreen:hover{
  cursor: pointer;
  color:green ;
}
