.contact_main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  color: #4e4e50;
  .container{
    flex-direction: column;
    @include desktop{

    }
    .contact_info{
      @include desktop{
        margin: 2rem 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
      }
      .card{
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        padding-bottom: 1rem;
        @include desktop{
          width: 20%;
        }
        img{
          width: 100%;
          @include desktop{
            margin-bottom: 1rem;
          }
        }
        p{
        text-align: left;
        margin: 0.5rem 0;
          line-height: 18px;
          white-space: nowrap;
          font-size: 0.9rem;
          @include desktop{

            margin: 1rem 0;
          }
          &:first-of-type{
            margin-top: 1.5rem;
          }
        }

        .contact_number{

          color: #4e4e50;

        }
        span{
          font-weight: bold;
          text-decoration: none;

        }
        .facebook{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          align-self: center;
          padding: 0.5rem 1rem;
          cursor: pointer;
          border-radius: 10px;
          width: 60%;
          height: 2.5rem;
          background-color: #3b5998;
          margin: 1rem 0;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
          transition: 0.7s all ease-in-out;
          @include desktop{
            height: 2.5rem;
            width: auto;
            padding: 0.5rem 1rem;
            &:hover{
              background-color: #ffffff;
              color: #3b5998;
            }
          }
        }
        .icon{
          color: #ffffff;
          text-decoration: none;
          font-weight: 600;
        .fb{
          margin-right: 1rem;
        }
        }
      }

    }

  }

}

