footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F1F20;
  color: #4e4e50;
  font-family: "Open Sans", sans-serif;
  padding: 2rem 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.15);
  @include desktop {
    padding: 3rem 0 3rem 0;
  }
  .container {
    flex-direction: column;
    .row1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      position: relative;
      @include desktop {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      img {
        width: 30%;
        @include desktop {
          width: 10%;
        }
      }
      .col1 {
        display: none;
        @include desktop {
          display: block;
          h1 {
            margin-bottom: 2rem;
            font-weight: 600;
            font-size: 1.5rem;
          }
         p  {
            margin: 1.2rem 0;
            font-size: 1.1rem;
            font-weight: 500;
            text-align: left;
            &:hover{
              color:#ffffff;
            }
          }
          &:before {
            left: 30%;
          }
        }
      }
      .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact_number{
          color: #4e4e50;
          &:hover{
            color: #ffffff;
          }
        }
        h1 {
          margin: 1rem 0;
          font-weight: 600;
          @include desktop {
            font-size: 1.5rem;
          }
        }
        p {
          margin: 0.5rem 0;
          font-size: 1.1rem;
          font-weight: 500;
          @include desktop{
            margin: 1rem 0;
          }
        }
        span {
          margin-right: 0.5rem;
        }
        @include desktop {

          &:before {
            left: 50%;
          }

        }
      }

      .col3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          margin-top: 1rem;
          font-weight: 600;
          align-self: center;
          @include desktop {
            font-size: 1.5rem;
          }
        }
        .media {
          margin: 1rem;

          span, .icon {
            margin: 0 0.5rem;
            font-size: 1.5rem;
            color:#4e4e50;
          }
        }
        @include desktop {
          &:before {
            left: 74%;
          }
        }
      }
    }
    .row2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0.5rem;

      &:before {
        content: '';
        width: 80vw;
        height: 1px;
        background-color: #4e4e50;
        margin-bottom: 1.5rem;
        @include desktop{
          margin-bottom: 3rem;
        }
      }
    }
  }
}

.line{
  @include desktop {
  &:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15vh;
    background-color: #4e4e50;
    margin-bottom: 1.5rem;
  }
}
}